* {
    font-family: 'Roboto', sans-serif;
}

.pages {
    display: flex;
    flex-direction:column;
}

.pages .page {
    flex: 1;
}

.page#p1 {
    background-color: #1F2937;
}

.nav-bar {
    display: flex;
    flex-direction: row;
}

.nav-bar h1 {
    color: white;
    font-size: 24px;
}

#logo {
    margin-left:100px;
}

.nav-bar h2 {
    margin-left:300px;
}